fastavro
google-cloud-bigquery
google-cloud-logging
google-cloud-pubsub
tomtoolkit

# Needed for building docs
docutils<0.17  # render lists properly
myst-parser
sphinx
sphinx-copybutton
sphinx_autodoc_typehints
sphinx_rtd_theme
